legend {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    background-color: black;
}

label, button {
    color: aquamarine;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 5px;

}

input[type=text]{
    
    background-color: black;
    color: white;

}


input[type=password]{
    
    background-color: black;
    color: white;

}